<div class='container center-main'>
  <div class='panel panel-default'>
    <table id="library" class="table table-striped">
      <tr>
        <th><h3>Primary Data</h3></th>
        <th><h3>Publication Info</h3></th>
        <th><h3>More Info</h3></th>
        <th></th> <!-- Above the buttons -->
      </tr>

      {{#each books}}
      <tr>
        <td class='main-book-cell'>
          <h3 class="att-title" title="title">{{title}}</h3>
          <h3 class="small text-muted" title="photographer">Artist: {{photographer}}</h3>
          <h3 class="small text-muted" title="nationality">Nationality: {{nationality}}</h3>
          <h3 class="small text-muted" title="type">Type: {{type}}</h3>
          <h3 class="small text-muted" title="genre">Genre: {{genre}}</h3>
        </td>
        <td class='main-book-cell'>
          <h3 class="small text-muted" title="year">Year: {{year}}</h3>
          <h3 class="small text-muted" title="publisher">By: {{publisher}}</h3>
          <h3 class="small text-muted" title="isbn">ISBN: {{isbn}}</h3>
          <h3 class="small text-muted" title="textby">Text By: {{textby}}</h3>
        </td>
        <td class='main-book-cell'>
          <h3 class="small text-muted" title="tags">Tags: {{tags}}</h3>
          <h3 class="small text-muted" title="comments">Comments: {{comments}}</h3>
        </td>
        <!--
        <td class='more-info-cell'>
          <h3 class="small text-muted" title="updated">Updated On: {{updated_at}}</h3>
          <h3 class="small text-muted" title="added">Added On: {{created_at}}</h3>
        </td>
      -->
        <td class='list-button-cell'>
          <button type="button" class="btn btn-default" data-toggle="modal"
          data-target="#fullListModal" data-id="{{id}}" data-title="{{title}}">
          <i class="fa fa-list"></i>
        </button>
        <button type="button" class="edit-button btn btn-default" href="/books/{{id}}/edit">
          <i class="fa fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-default" data-toggle="modal"
        data-target="#deleteModal" data-id="{{id}}" data-title="{{title}}">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
  {{/each}}

</table>
</div> <!-- panel -->
</div> <!-- container -->

<!-- delete confirmation modal -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-danger"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger delete-button">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- full info modal -->
<div class="modal" id="fullListModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-info"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Thanks!</button>
        {{!-- <button type="button" class="btn btn-primary">Save</button>  --}}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
